.container{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.content{
	left: 0;
	top: 0;
	position: relative;
}

#map_container{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	background-color: #a7c3de;
}
#map_container.map {
	background: url(../img/geomap/map.png) no-repeat;
	background-size: 2530px;
	background-position: -1096px -660px;
	background-color: #a6c2de;
}
.operator{
	width:765px;
	height:765px;
	left: 0;
	top: 92px;
	position: absolute;
	z-index: 101;
}
.operator img{
	width: 100%;
}
#btn_back_china {
	border: 1px solid #ccc;
	background-color: #eee;
	border-radius: 0 0 0 3px;
	color: #333;
	width: 50px;
	padding: 3px 3px;
	position: absolute;
	top: 92px;
	right: 0;
	text-align: center;
	z-index: 203;
	cursor: pointer;
}
#n_back{
	right: 0;
	top: 38px;
	z-index: 102;
}
#n_back>div{
	left: 80px;
}
/*播放器样式 {*/
.fix_layer{
	position: fixed;
	z-index: 10;
	left: 0;
	width: 100%;
	background: rgba(100,100,100,.4);
	padding: 10px 0;
}
.bottom_layer {
	bottom: 0;
	z-index: 900;
}
.btn_player {
	width: 24px;
	height: 27px;
	background-image: url(../img/geomap/icon.png);
	background-repeat: no-repeat;
	background-position: -181px 0;
	margin: 0 10px;
	margin-right: 20px;
	display: inline-block;
	float: left;
	position: relative;
}
.btn_player.pause{
	background-position: -155px 0;
}
.progress {
	float: left;
	height: 10px;
	margin-top: 2px;
	padding-top: 10px;
	position: relative;
}
.progress .handle {
	position: absolute;
	top: 0;
}
.progress .handle i {
	position: absolute;
	top: 2px;
	left: -7px;
	width: 14px;
	height: 14px;
	border-radius: 7px;
	background: rgba(255,255,255,0.8);
	box-shadow: 1px 2px 3px rgba(0,0,0,.7);
}
.progress span {
	float: left;
	width: 50px;
	background-color: #888;
	height: 2px;
}
.progress span.on {
	background-color: #2c5490;
}
.progress .time {
	min-width: 100px;
	text-align: center;
	display: none;
	background-color: rgba(255,255,255,.9);
	border-radius: 3px;
	padding: 3px;
	position: absolute;
	top: -40px;
	height: 25px;
	line-height: 25px;
	color: rgba(0,0,0,0.6);
	box-shadow: 1px 1px 3px rgba(0,0,0,.6);
}
.progress .time i {
	font-style: normal;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.progress .time div {
	position: absolute;
	bottom: -8px;
	left: 50px;
	border-color: rgba(255,255,255,.9) transparent transparent transparent;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	width: 0;
	height: 0;
}
#n_play {
	width: 100px;
	top: -37px;
	left: -3px;
}
#n_play>div {
	border-color: #ccc transparent transparent transparent;
	top: auto;
	bottom: -20px;
	left: 5px;
}
#n_play div div {
	border-color: rgba(255,255,255,1) transparent transparent transparent;
	left: -10px;
	top: -11px;
}
.notice {
	position: absolute;
	background-color: rgba(255,255,255,1);
	border-radius: 3px;
	padding: 3px;
	border: 1px solid #ccc;
	text-align: center;
}
.notice i {
	font-style: normal;
}
.notice>div {
	position: absolute;
	top: -20px;
	left: 10px;
	border-color: transparent transparent #ccc transparent;
	border-style: solid;
	border-width: 10px;
	width: 0;
	height: 0;
}
.notice div div {
	border-style: solid;
	position: absolute;
	border-color: transparent transparent rgba(255,255,255,1) transparent;
	border-width: 10px;
	width: 0;
	height: 0;
	left: -10px;
	top: -9px;
}
/*} 播放器样式*/


/*#_zrender_hover_{
	background-color: rgba(255,0,0,.5);
}*/

.layer_weather{
	position: absolute;
	width: 10px;
	height: 20px;
	border-radius: 3px;
	/*box-shadow: 2px 2px 5px rgba(0,0,0,0.7);*/
	text-align: center;
	/*background: red;*/
	cursor: pointer;
}
.layer_weather div{
	position: absolute;
	width: 60px;
	left: -30px;
	bottom: 0;
}
.layer_weather img{
	width: 36px;
	height: 36px;
	/*background-color: rgba(0,0,0,0.4);*/
	background: url(../img/geomap/bg_weather.png) center center;
	background-size: 100%;
	border-radius: 5px;
	padding: 3px 5px;
}
/*地图天气图标点击弹层{*/

.dialog{
	transition: left .3s;
	-webkit-transition: left .3s;
	-webkit-transform: translateZ(0px);
	position: absolute;
	left: 100%;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0,0,0,.9);
	/*background-color: white;*/
	color: white;
	z-index: 905;
}
.dialog.show{
	left: 0;
}

.dialog_nav_top {
	background: #23A2E9 url(../img/btn_back.png) no-repeat center left;
	background-size: 30px;
	height: 40px;
	line-height: 40px;
	color: white;
	text-indent: 30px;
	position: relative;
}
.btn_quit{
	width: 10%;
	height: 100%;
}
.btn_forcast_nav{
	width: 210px;
	position: absolute;
	left: 50%;
	margin-left: -105px;
	top: 0;
}
.dialog_nav_top span{
	text-indent: 0;
	text-align: center;
	font-size: 22px;
	width: 100px;
	float: left;
	position: relative;
}
.dialog_nav_top span:first-child:after{
	content: '';
	position: absolute;
	right: 0;
	top: 25%;
	height: 50%;
	border-left: 1px solid #eee;
	border-right: 1px solid #999;
}
.yb_date{
	margin-bottom: 10px;
	overflow-y: auto;
}
.yb_date li{
	border-bottom: 1px solid rgba(200,200,200,.3);
	overflow: hidden;
	padding: 8px 5%;
	width: 90%;
}
.yb_date li:last-child{
	border-bottom: none;
}
.yb_top{
	margin: 2px 0;
}

.yb_c>div{
	width: 30%;
	min-height: 1px;
}
.w_img{
	display: block;
	width: 40px;
	height: 40px;
}
.yb_c .yb_text{
	width: 40%;
	line-height: 32px;
	text-align: center;
}
#forcast_chart{
	text-align: center;
}
#chart_top{
	height: 5%;
	margin-top: 5%;
}
#forcast_chart img{
	width: 40px;
	height: 40px;
	margin: 0 auto;
	display: block;
}
#chart_content{
	height: 70%
}
#chat_bottom{
	height: 5%;
}
.yb_container{
	width: 200%;
	margin-left: 0;
}
.yb_container.trend{
	margin-left: -100%;
}
#forcast_chart,
.yb_date{
	width: 50%;
}
/*} 地图天气图标点击弹层*/
.data_time{
	margin-top: 50px;
	background: #eee;
	padding: 3px 0 4px;
	text-align: center;
	position: absolute;
	z-index: 201;
	left: 0;
	right: 0;
	width: auto;
}
.data_time span{
	display: inline-block;
}
.btn_refresh{
	vertical-align: bottom;
	background: #ccc url(../img/icon_refresh.png) center center no-repeat;
	background-size: 18px;
	width: 18px;
	height: 18px;
	border-radius: 9px;
	margin-left: 10px;
}
@-webkit-keyframes circle
{
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}
.btn_refresh.refreshing{
	-webkit-animation-name:'circle';
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function:linear;
}
.bg_img{
	position: absolute;
	z-index: -1;
}
// #bgImg{
// 	position: absolute;
// 	z-index: -1;
// }
.tdt-control-copyright.tdt-control{
	display:none;
}
