#main{
	width: 100%;
	overflow: hidden;
	overflow-y: auto;
}
.container{
	width: 400%;
	/*margin-left: -200%;*/
	transition: margin-left .5s;
	-webkit-transition: margin-left .5s;
	-webkit-transform: translateZ(0px);
}
.container .view{
	width: 33.33333%;
}
.container .setting_list{
	margin: 10px;
	min-width: 300px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.container .setting_list li{
	overflow: hidden;
	padding: 5px 10px;
	border-bottom: 1px solid #ccc;
	height: 30px;
	line-height: 30px;
	position: relative;
}
.container .setting_list li:last-child{
	border-bottom: none;
}
.container .setting_list li span{
	color: #000;
}

.container .setting_list li span.fr{
	margin-right: 15px;
	color: #666;
}
.can_click::after{
	content: '>';
	color: #666;
	position: absolute;
	right: 10px;
}

.nav_top{
	background: #23A2E9 url(../img/btn_back.png) no-repeat center left;
	background-size: 30px;
	height: 40px;
	line-height: 40px;
	color: white;
	text-indent: 30px;
	margin-bottom: 10px;
	position: relative;
}
.hotcitylist{
	width: 100%;
	overflow: hidden;
}
.hotcitylist li{
	float: left;
	width: 23%;
	margin: 0 1%;
	text-align: center;
	height: 25px;
	line-height: 25px;
}
.hotcitylist li.on{
	background: #23A2E9;
	color: white;
}
.citylist{
	border-top: 1px solid #ccc;
	margin-top: 10px;
	overflow: hidden;
	overflow-y: auto;
	display: none;
}
.citylist li{
	border-bottom: 1px solid #ccc;
	padding: 10px;
}
.cityname{
	display: block;
	width: 96%;
	padding: 5px;
	min-width: 300px;
	margin: 0 auto;
	border-radius: 3px;
	border: 1px solid #23A2E9;
}
#btn_add{
	width: 25px;
	height: 30px;
	background: url(../img/icon.png) no-repeat center center;
	position: absolute;
	right: 10px;
}

.feedback .form{
	width: 96%;
	margin: 0 auto;
}
.feedback input,
.feedback textarea{
	width: 100%;
	padding: 3px;
	border-radius: 3px;
	border: 1px solid #23A2E9;
	margin: 5px 0;
}
.feedback textarea{
	height: 100px;
	line-height: 25px;
}
#btn_submit{
	background: #39F;
	color: white;
	height: 30px;
}

.added_citylist{
	text-align: center;
	margin-top: 20px;
}
.added_citylist li{
	float: left;
	width: 33.333%;
	margin-bottom: 30px;
}

.added_citylist li>div{
	width: 70px;
	height: 70px;
	margin: 0 auto;
	position: relative;
	background: #23A2E9 ;
	border-radius: 5px;
}
.added_citylist li span{
	width: 70px;
	height: 70px;
	padding: 0 5px;
	margin: 0 auto;
	display: table-cell;
	vertical-align: middle;
	color: white;
}
/*大屏时显示4列*/
@media screen and (min-width: 600px) {
	.added_citylist li{
		width: 25%;
	}
}
.btn_close{
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	border-radius: 10px;
	background: #333;
	color: white;
	font-weight: bold;
	position: absolute;
	right: -5px;
	top: -5px;
}
.btn_add div{
	width: 22px;
	height: 22px;
	background: url(../img/icon.png) no-repeat 0 -35px;
	position: absolute;
	top: 50%;
	margin-top: -11px;
	left: 50%;
	margin-left: -11px;
}

.content{
	width: 96%;
	margin: 0 auto;
}
.content img{
	max-width: 96%;
}
.content p{
	text-indent: 30px;
}