body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;}
ul{
	list-style:outside none none;
	padding: 0;
	margin: 0;
}
.fl{
	float: left;
}
.fr{
	float: right;
}

@-webkit-keyframes rotate 
{
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}
.rotate{
	-webkit-animation-name:'rotate';
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function:linear;
	/*-webkit-animation-direction: alternate;*/
}

.map_c div img{
	float: left;
}
.anchorBL{
	display: none;
}
.map{
	position: relative;
	width: 100%;
	height: 100%;
	background: #A6C2DE;
	font-size: 14px;
}
/*.map .loading{
	width: 100px;
	position: absolute;
	z-index: 1;
	left: 50%;
	margin-left: -50px;
	top: 50%;
	margin-top: -20px;
}*/
/*.map .title{
	color: white;
	background: rgba(255,255,255,0.6);
	border-radius: 5px;
	border:1px solid white;
	padding: 5px;
	position: absolute;
	z-index: 2;
	left: 5px;
	top: 20px;
	color: #07076A;
	border: 1px solid #07076A;
	display: none;
}*/
.map .info{
	position: absolute;
	right: 0;
	top: 48px;
	z-index: 901;
	display: none;
	line-height: 20px;
	padding: 0 5px;
}
.map .info div{
	padding: 3px;
	color: white;
	text-shadow: 1px 1px 3px #000;
	-webkit-text-shadow: 1px 1px 3px #000;
}
.map .info ul{
	background: rgba(255,255,255,0.6);
	color: #000;
	padding: 0 3px;
	display: none;
}
.map .info ul li{
	overflow: hidden;
}
.map .info ul li span:first-child{
	float: left;
}
.map .info ul li span:last-child{
	float: right;
}
.map .info .btn{
	background: url(../img/typhoon/arrow.png) no-repeat center center;
	background-size: auto 15px;
	height: 15px;
	width: 20px;
}
.map .info.on div{
	background: #525e6d;
}
.map .info.on .btn{
	display: none;
}
.map .info.on ul{
	display: block;
	background: #75879c;
	color: white;
}
.map .info ul li{
	padding: 3px 0;
	border-bottom: 1px solid #6e7d8d;
}
.map .info ul:after{
	display: block;
	content: '';
	width: 100%;
	background: url(../img/typhoon/arrow.png) no-repeat center center;
	background-size: auto 15px;
	height: 20px;
	-webkit-transform: rotate(180deg);
}

.map .tool_bar{
	position: fixed;
	z-index: 900;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 5px;
	background: #00a0e9;
}

.map .tool_bar .logo img{
	height: 25px;
	vertical-align: -7px;
	margin-right: 4px;
}


.map .tool_bar .btn_legend{
	position: relative;
	background: url(../img/typhoon/toolbar.png) no-repeat center -153px;
	background-size: 65px auto;
}
.map .tool_bar .typhoon_list{
	position: relative;
	background: url(../img/typhoon/toolbar.png) no-repeat center -81px;
	background-size: 65px auto;
}
.map .tool_bar .btn_reset{
	background: url(../img/typhoon/toolbar.png) no-repeat center 0;
	background-size: 65px auto;
}
.map .tool_bar .btn_legend img{
	position: absolute;
	z-index: 2;
	right: 0;
	bottom: 30px;
	display: none;
}
.map .tool_bar .typhoon_list>div{
	display: none;
	position: absolute;
	bottom: 53px;
	left: 50%;
	margin-left: -110px;
	background: rgba(0,0,0,.4);
	border: 1px solid #07076A;
	text-align: left;
}
.map .tool_bar .typhoon_list ul{
	width: 220px;
	overflow-x: hidden;
	line-height: 25px;
	max-height: 338px;
	overflow-y: auto;
	color: white;
	padding: 0 3px;
}
.map .tool_bar .typhoon_list>div:after{
	display: block;
	content: '';
	width: 100%;
	background: url(../img/typhoon/arrow.png) no-repeat center center;
	background-size: auto 15px;
	height: 15px;
}
.map .tool_bar .typhoon_list li{
	padding: 3px;
	border-bottom: 1px solid #07076A;
}
.map .tool_bar .typhoon_list li:last-child{
	border: none;
}
.map .tool_bar .typhoon_list li div{
	background: #525e6d;
	text-align: center;
}
.map .map_c{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 101;
}

.c{
	position: absolute;
	z-index: 911;
	width: 20px;
	height: 20px;
	/*background: url(../img/typhoon/point.png) no-repeat center center;*/
	/*background: rgba(0,0,0,.6);*/
	border-radius: 20px;
	margin-left: -10px;
	margin-top: -10px;
	cursor: pointer;
}
/*.c div{
	position: absolute;
	z-index: 1;
	left: -10px;
	top: -10px;
	height: 100%;
	width: 100%;
	background: rgba(255,0,0,.6);
	border-radius: 20px;
	cursor: pointer;
}*/
.c div span{
	position: absolute;
	left: 4px;
	top: 4px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #4CEEDF;
}
.c_yb div span{
	background-color: white;
	border: 1px solid red;
	border-radius: 5px;
}
.c_1 div span{
	background-color: #4CEEDF;
}
.c_2 div span{
	background-color: #90F46D;
}
.c_3 div span{
	background-color: #FFF203;
}
.c_4 div span{
	background-color: #FF7E00;
}
.c_5 div span{
	background-color: #F71A08;
}
.c_6 div span{
	background-color: #940EE9;
}

.top_nav{
	color: white;
	font-weight: bold;
	background: url(../img/bg_mask.png) repeat-x 0 -10px;
	height: 30px;
	text-align: center;
	padding: 10px;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 101;
}
#get_home{
	position: absolute;
	left: 10px;
	top: 8px;
	width: 30px;
	height: 30px;
}
#get_home img{
	width: 100%;
	height: 100%;
}
.btn_nav{
	position: absolute;
	left: 15px;
	top: 10px;
	width: 26px;
	height: 26px;
	background: url(../img/icon.png) no-repeat 0 0 ;
}

.map .tool_bar>div{
	width: 33.33%;
	text-align: center;
	height: 10px;
	padding-top: 30px;
	padding-bottom: 8px;
	font-size: 14px;
	/*font-weight: bold;*/
	color: white;
}
.btn_legend ul{
	position: absolute;
	bottom: 53px;
	right: 0;
	color: white;
	background: rgba(0,0,0,.4);
	padding: 5px;
	/*display: none;*/
}

.btn_legend ul li{
	text-align: left;
	width: 100px;
	padding: 3px 0;
	border-bottom: 1px solid #6e7d8d;
}
.btn_legend ul li:last-child{
	border-bottom: none;
}
.btn_legend ul li.arrow{
	background: url(../img/typhoon/arrow.png) no-repeat center center;
	background-size: auto 15px;
	height: 10px;
}
.circle{
	margin-right: 3px;
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 7px;
}
.circle.rddy{
	background-color: #4CEEDF;
}
.circle.rdfb{
	background-color: #90F46D;
}
.circle.qrdfb{
	background-color: #FFF203;
}
.circle.tf{
	background-color: #FF7E00;
}
.circle.qtf{
	background-color: #F71A08;
}
.circle.cqtf{
	background-color: #940EE9;
}
.circle.yxqy{
	background-color: #7B9AE3;
}
.circle.wind7{
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid red;
}
.circle.wind10{
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid yellow;
}
.typhoon_name{
	position: absolute;
	width: 300px;
	height: 20px;
	text-align: center;
	bottom: -3px;
	left: -150px;
	color: white;
}
.t_title{
	position: absolute;
	top: 53px;
	left: 5%;
	width: 90%;
	text-align: center;
	z-index: 902;
	background-color: rgba(0,0, 0, 0.4);
	margin: 0 auto;
	color: white;
	border-radius: 20px;
}
.t_title li{
	margin: 5px 0;
}
.wind_radiu{
	position: absolute;
	z-index: 901;
	left: 200px;
	top: 200px;
	/*background: blue;*/
	width: 100px;
	height: 100px;
	margin-left: -50px;
	margin-top: -50px;
	display: none;
}
.wind_radiu div{
	position: absolute;
	overflow: hidden;
}
.wind_radiu .radiu:after{
	box-sizing: border-box;
	content: '';
	width: 200%;
	height: 200%;
	position: absolute;
	border-radius: 200%;
	background-color: rgba(0, 0, 0, 0.1);
}
.wind_radiu .radiu_en{
	width: 50px;
	height: 50px;
	left: 50%;
	bottom: 50%;
}
.wind_radiu .radiu_en:after{
	left: -100%;
	top: 0;
}
.wind_radiu .radiu_es{
	width: 40px;
	height: 40px;
	top: 50%;
	left: 50%;
}
.wind_radiu .radiu_es:after{
	left: -100%;
  	top: -100%;
}
.wind_radiu .radiu_wn{
	width: 60px;
	height: 60px;
	right: 50%;
	bottom: 50%;
}
.wind_radiu .radiu_wn:after{
	left: 0;
	top: 0;
}
.wind_radiu .radiu_ws{
	width: 100px;
	height: 100px;
	right: 50%;
	top: 50%;
}
.wind_radiu .radiu_ws:after{
	left: 0;
	top: -100%;
}
.line_up{
	height: 10px;
	left: 50%;
	top: 50%;
	margin-top: -60px;
	
}
.line_down{
	height: 60px;
	left: 50%;
	top: 50%;
	margin-top: 40px;
}
.line_right{
	width: 10px;
	left: 50%;
	top: 50%;
	margin-left: 40px;
}
.line_left{
	width: 40px;
	top: 50%;
	right: 50%;
	margin-right: 60px;
}

.level7 .line_up,
.level7 .line_down{
	border-left: 1px solid red;
}
.level7 .line_right,
.level7 .line_left{
	border-top: 1px solid red;
}
.level7 .radiu:after{
	border: 1px solid red;
}

.level10 .line_up,
.level10 .line_down{
	border-left: 1px solid yellow;
}
.level10 .line_right,
.level10 .line_left{
	border-top: 1px solid yellow;
}
.level10 .radiu:after{
	border: 1px solid yellow;
}