*{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);font-family:"微软雅黑";}
body{
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-size: 16px;
}
a{
	text-decoration: none;
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
img{
	/*li里图片会让li底部有几像素的空隙*/
	vertical-align: bottom;
}
.clear{
	clear: both;
	overflow: hidden;
}
.fl{
	float: left;
	display: inline;
}
.fr{
	float: right;
	display: inline;
}

/*全局样式*/
.loading{
	width: 50px;
	height: 50px;
	position: fixed;
	z-index: 1001;
	left: 50%;
	top: 50%;
	margin-left: -25px;
	margin-top: -25px;
	background: url(../img/loading.gif);
	background-size: 100%;
}