body{
	background-size: 100% 100%;
	background-origin: top center;
	background-repeat: no-repeat;
	background-image: url(./img/login_bg.png);
}
input{
	border: none;
	outline:none;
}
.auto{
	background-image: url(./img/bg_splash.jpg);
}
.auto .main{
	display: none;
}
.main{
	width: 90%;
	margin: 0 auto;
	position: relative;
}
.logo{
	width: 100px;
	height: 100px;
	background: url(./img/logo.png);
	background-size: 100%;
	margin: 40px auto;
}
.form{
	color: #244aad;
	border: 1px solid #244aad;
	border-radius: 10px;
	background-color: rgba(255,255,255, 0.5);
}
.row{
	height: 50px;
	line-height: 50px;
}
.row:first-child{
	border-bottom: 1px solid #244aad;
}
.row span{
	display: inline-block;
	width: 50px;
	height: 100%;
	background-position: 8px center;
	background-repeat: no-repeat;
	background-size: 20px;
	padding-left: 35px;
}
.row input{
	width: 180px;
	height: 100%;
	background-color: rgba(255,255,255, 0);
	font-size: 14px;
}
.row:first-child span{
	background-image: url(./img/icon_user.png);
}
.row:last-child span{
	background-image: url(./img/icon_keywords.png);
}
#btn_login{
	background: url(./img/btn_logoin.png) no-repeat;
	height: 40px;
	width: 100%;
	color: white;
	background-size: 100% 100%;
	margin-top: 30px;
	cursor: pointer;
}
.desc{
	color: #244aad;
	text-align: center;
}
.logining{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	display: none;
}
.logining span{
	position: absolute;
	left: 50%;
	margin-left: -65px;
	top: 50%;
	margin-top: -30px;
	width: 130px;
	height: 60px;
	color: white;
	line-height: 60px;
	text-align: center;
	border-radius: 5px;
	background: url(../img/loading.gif) no-repeat 10px center rgba(0,0,0,.7);
	text-indent: 20px;
	background-size: 20px 20px;
}